mixin sServiceCenterHead(data)
	// start sServiceCenterHead
	+b.SECTION.sServiceCenterHead#sServiceCenterHead&attributes(attributes).bg-wrap
		+pic('service-center-bg.jpg', 'bg').picture-bg
		+e.inner.section
			.container
				
	// end sServiceCenterHead