// start .sForm
.sForm {
	--sPT: #{rem(40)};
	--sPB: #{rem(101)};
	--sTPB: #{rem(39)};

	&--alt {
		//??
	}
	&.land-form {
		@include media-breakpoint-up(xxl) {
			--sPT: #{rem(189)};
			--sPB: #{rem(221)};
			--sTPB: #{rem(39)};
		}

		.sForm {
			&__box {
				@include media-breakpoint-up(xxl) {
					padding: 58px 23px 84px 72px;
				}
			}
		}
	}
	&__pic {
		margin-bottom: rem(30);
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: rem(-74);
			right: rem(90);
			margin-bottom: 0;
		}
		max-width: 100%;
		width: rem(420);
		height: rem(210);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__box {
		position: relative;
		z-index: 1;
		color: $white;

		padding: rem(30) rem(30) rem(45);
		left: calc(-1 * (100vw - 100%) * 0.5);
		width: 100vw;
		@include media-breakpoint-up(md) {
			left: unset;
			width: 100%;
			padding: rem(45) rem(40) rem(70);
		}
		@include media-breakpoint-up(xl) {
			padding: 55px 70px 89px;
		}

		//
		&--alt {
			@include media-breakpoint-up(xl) {
				padding: 55px 70px 74px;
			}
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-title {
		h2 {
			font-size: rem(36);
			color: $white !important;
			margin-bottom: rem(14px);
		}
		p {
			line-height: 1.25;
		}
	}
	.form-wrap {
		&__row {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(24)};
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(30)};
				--bs-gutter-y: #{rem(30)};
			}

			//
			&--alt {
				padding-bottom: rem(26);
			}
		}
		&__left-col {
			@include media-breakpoint-up(lg) {
				width: calc(#{rem(408)} + var(--bs-gutter-x)) !important;
			}
		}
		//alt
		&__inp-col {
			@include media-breakpoint-up(lg) {
				width: 35% !important;
			}
		}

		//

		&__input-wrap {
			margin-bottom: var(--bs-gutter-y);
			&:last-child {
				margin-bottom: 0;
			}

			textarea {
				height: calc(#{rem(53)} * 2 + var(--bs-gutter-y));
			}
		}
		&__input {
			@include placeholder() {
				text-transform: uppercase;
			}
		}
		&__btn {
			@extend .btn;
			@extend .btn-primary;

			text-transform: uppercase;
			width: 100%;
		}
		&__policy {
			@include media-breakpoint-up(lg) {
				min-height: rem(53);
			}
			&--mh0 {
				@include media-breakpoint-up(lg) {
					min-height: 0;
				}
			}

			display: flex;
			align-items: center;
			&:before {
				display: inline-block;
				content: "";
				flex-shrink: 0;

				width: rem(16);
				height: rem(16);
				margin-right: rem(11);

				background-image: url(../img/svg/lock.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}

			//
			font-weight: 300;
			font-size: rem(14);
			line-height: calc(19 / 14);
			color: $white;
			a {
				color: $white !important;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}

		//
	}
	//
	&--return {
		.sForm__box {
			@include media-breakpoint-up(xl) {
				padding: rem(55) rem(89) rem(55) rem(70);
			}
		}
		.form-wrap {
			form {
				text-align: center;
				@include media-breakpoint-up(sm) {
					text-align: left;
				}
			}
			&__row {
				--bs-gutter-y: var(--bs-gutter-x);
				&--main {
					margin-bottom: calc(var(--bs-gutter-y) * 1.333);
					@include media-breakpoint-up(lg) {
					margin-bottom: calc(var(--bs-gutter-y) * 2.333);
					}
				}
				&--footer {
					align-items: center;
				}
			}
			&__comment {
				height: 100%;
				& > * {
					height: inherit;
				}
				textarea {
					height: 100%;
					min-height: rem(140);
				}
			}
			&__btn,
			.btn-upload {
				width: 343px;
				max-width: 100%;
			}
			
			&__policy {
				justify-content: center;
				text-align: left;
				@include media-breakpoint-up(sm) {
					justify-content: flex-start;
				}
			}
		}
	}
} // end.sForm

.btn-upload {
	@extend .btn, .btn-outline-white;
	display: inline-block !important;
	border: 1px solid;
	text-transform: uppercase;
	padding: rem(13.5) rem(18);	
	input {
		@extend .invisible;
	}
}
