// start .sForm
.sForm {
	--sPT: #{rem(40)};
	--sPB: #{rem(101)};
	--sTPB: #{rem(39)};

	&__box{
		position: relative;
		z-index: 1;
		color: $white;

		padding: rem(30) rem(30) rem(45);
		left: calc(-1 * (100vw - 100%) / 2);
		width: 100vw;
		@include media-breakpoint-up(md){
			left: unset;
			width: 100%;
			padding: rem(45) rem(40) rem(70);
		}
		@include media-breakpoint-up(xl){
			padding: 55px 70px 89px;
		}
	}
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-title{
		h2{
			font-size: rem(36);
			color: $white!important;
			margin-bottom: rem(14px);
		}
		p{
			line-height: 1.25;
		}
	}
	.form-wrap{
		&__row{
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(24)};
			@include media-breakpoint-up(lg){
				--bs-gutter-x: #{rem(30)};
				--bs-gutter-y: #{rem(30)};
			}
		}
		&__left-col{
			@include media-breakpoint-up(lg){
				width: calc(#{rem(408)} + var(--bs-gutter-x)) !important;
			}
		}
		&__input-wrap{
			margin-bottom: var(--bs-gutter-y);
			&:last-child{
				margin-bottom: 0;
			}

			textarea{
				height: calc(#{rem(53)} * 2 + var(--bs-gutter-y));
			}
		}
		&__input{
			@include placeholder(){
				text-transform: uppercase;
			}
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;

			text-transform: uppercase;
			width: 100%;
		}
		&__policy{
			@include media-breakpoint-up(lg){
				min-height: rem(53);
			}
			display: flex;
			align-items: center;
			&:before{
				display: inline-block;
				content: '';
				flex-shrink: 0;

				width: rem(16);
				height: rem(16);
				margin-right: rem(11);

				background-image: url(../img/svg/lock.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}

			//
			font-weight: 300;
			font-size: rem(14);
			line-height: (19/14);
			color: $white;
			a{
				color: $white!important;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}

		//
		&__{}
		&__{}
	}
	//
	&__{}
	&__{}
} // end.sForm