mixin modal()
	//  start modal
	+b.modal-win(id="modal-call" style="display: none")
		+form-wrap
			.text-center
				+e.title
					h2 Заказать обратный звонок
					p Оставьте номер телефона, и мы позвоним вам в ближайшее время
				+e.inputs
					+input('', 'tel')
					+e.btn--dark(type="submit") Перезвоните мне
				+e.policy
					| Нажимая кнопку "Отправить" я соглашаюсь с
					|
					a(href='#') Положением о персональных данных и конфиденциальности.
	//-
	+b.modal-win(id="modal-enter" style="display: none")
		+form-wrap
			.text-center
				+e.title
					h2 Вход/Регистрация
				+e.inputs
					+input('', 'tel')
					+e.btn--primary(type="submit") Получить код в SMS
	// #modal-call
	
	// end modals