.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap{
		&__title{
			margin-bottom: rem(25);

			& > *:last-child{
				margin-bottom: 0;
			}
		}
		h2{
			font-weight: 600;
		}
		p{
			font-size: rem(17);
			//margin-bottom: rem(25);
		}

		&__input-wrap{
			margin-bottom: rem(10);

		}
		&__inputs{
			padding-bottom: rem(32);
		}
		&__input{
			border-width: 1px;
		}
		&__btn{
			width: 100%;
			@extend .btn;

			&--dark{
				@extend .btn-dark;
				text-transform: uppercase;
			}
			&--primary{
				@extend .btn-primary;
				text-transform: uppercase;
			}
		}
		&__policy{
			a{
				text-decoration: none;
			}
		}

		//
		&__{}
		&__{}
	}
}