.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-r {
	font-size:(10/10)*1rem;
	width:(14/10)*1em;
}
.icon-chevron-left {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
.icon-chevron-right {
	font-size:(8/10)*1rem;
	width:(6/8)*1em;
}
.icon-location {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
