// start .headerBlock
.headerBlock {
  color: $white;
  background-color: $body-color;
  position: relative;
  .swiper-pagination{
    position: absolute;
    z-index: 20;
    bottom: 20px;
  }
  &__slider-wrap{
    .swiper{

    }
    .swiper-wrapper{

    }
    .swiper-slide{
      height: auto;

    }
  }
  &__item{
    min-height: 330px;

    padding: rem(55) 0;
    @include media-breakpoint-up(md){
      padding: rem(80) 0;
    }
    @include media-breakpoint-up(xl){
      min-height: rem(514);
      padding: rem(60) 0;
    }
    @include media-breakpoint-up(xxl){
      padding: rem(90) 0;
    }

    position: relative;
    z-index: 1;
  }
  &__bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media-breakpoint-up(sm){
        object-position: right bottom;
      }
    }
  }
  &__txt-box{
    margin-bottom: rem(28);
    @include media-breakpoint-up(xl){
      margin-bottom: rem(56);
    }

    & > *:last-child{
      margin-bottom: 0;
    }

    p{
      font-size: 20px;
      line-height: 25px;
      /* or 127% */


      color: #FFFFFF;

    }
  }
  &__title{
    color: $gray-110;
    margin-bottom: rem(21);

    font-size: 30px;
    @include media-breakpoint-up(lg){
      font-size: rem(40);
    }
    @include media-breakpoint-up(xl){
      font-size: rem(50);
    }
    @include media-breakpoint-up(xxl){
      font-size: rem(59);
    }
    line-height: 1.2;
  }
  &__learn-more{
    display: inline-flex;
    align-items: center;

    text-transform: uppercase;
    text-decoration: none;
    color: $white;

    &:hover{
      &:after{
        transform: translateX(5px);
      }
    }
    &:after{
      @include mt();
      content: '';
      display: inline-block;
      margin-left: rem(15);
      width: rem(15);
      height: rem(15);

      background-image: url(../img/svg/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  //
  &__{}
  &__{}
}

// end.headerBlock