// start .sDelivery
.sDelivery {
	--sPT: #{rem(11)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(35)};

	&__caption-row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};

		padding-bottom: rem(36);
	}
	&__tabs-btn{
		@extend .btn;
		@extend .btn-primary;

		padding: rem(6) rem(20);
		font-size: rem(20);
		line-height: calc(44/20);

		&:not(.active){
			background: $gray-280!important;
			box-shadow: none!important;

			color: $body-color!important;
			&:hover{
				color: $black!important;
			}
		}
	}

	//
	&__{}
	&__{}
} // end.sDelivery

.delivery{
	&__top-txt{
		font-size: rem(20);
		line-height: calc(25/20);

		margin-bottom: rem(39);

		a{
			color: $blue;
		}
	}
	&__img-row{
		--bs-gutter-y: #{rem(30)};

		--bs-gutter-x: #{rem(20)};
		padding-bottom: rem(40);
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
			padding-bottom: rem(50);
		}

		flex-direction: column-reverse;
		@include media-breakpoint-up(lg){
			flex-direction: row;
		}
	}
	&__i-txt{
		h2{
			line-height: calc(34/26);
			margin-bottom: 10px;
		}
		p{
			line-height: calc(22/16);
			margin-bottom: 16px;
		}

		& > *:last-child{
			//margin-bottom: 0;
		}
	}
	&__img-col{

	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: calc((325/433) * 100%);
	}
	&__items-row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};

		padding-bottom: rem(53);
	}
	&__item{
		min-height: 100%;
		background: $white;
		border: 1px solid $gray-280;

		padding: rem(20) rem(16) rem(30);
		@include media-breakpoint-up(sm){
			padding: rem(20) rem(24) rem(30);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(19) rem(72) rem(32) rem(33);
		}

		h4{
			line-height: calc(34/20);
			margin-bottom: rem(5);
		}
		p{
			line-height: calc(22/16);
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	}
	&__big{
		border: 1px solid $gray-280;
	}
	&__big-row{
		--bs-gutter-x: 0;
		--bs-gutter-y: 0;
	}
	&__map-col{
		@include media-breakpoint-up(md){
			width: 49% !important;
		}

		position: relative;
		min-height: 100%;
		height: rem(415);

		& > ymaps{
			position: absolute!important;
			top: 0!important;
			left: 0!important;
			width: 100% !important;
			height: 100% !important;
		}
	}
	&__b-txt-col{
		padding: rem(40) rem(16);
		@include media-breakpoint-up(sm){
			padding: 34px 45px 45px 30px;
		}
	}
	&__b-title{
		line-height: calc(34/20);
		margin-bottom: rem(5);
	}
	&__b-descr{
		line-height: calc(22/16);

		& > *:last-child{
			margin-bottom: 0;
		}

		padding-bottom: rem(20);
	}
	&__b-title-sm{
		font-weight: 600;
		line-height: calc(26/16);
		margin-bottom: 3px;
	}
	&__b-address{
		line-height: calc(26/16);
		margin-bottom: rem(10);
	}
	.a-links{
		margin-bottom: rem(17);
	}
	&__b-price{
		line-height: calc(26/16);
	}
	&__foot{
		h2{
			margin-bottom: rem(10);
		}

		p{
			line-height: calc(22/16);
		}
		& > *:last-child{
			margin-bottom: 0;
		}

		padding-bottom: 32px;
	}
	&__form-cont{
		margin: 0 -15px;
	}
	&__{}
}

.payment{
	@include media-breakpoint-up(xxl){
		padding-top: rem(11);
	}

	&__row{
		--bs-gutter-y: #{rem(30)};

		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(30)};
		}
		padding-bottom: rem(35);
	}
	&__dd-items{

	}
	&__dd-item{
		&:first-child{
			border-top: 1px solid $gray-280;
		}
		border-bottom: 1px solid $gray-280;

		&.active{
			--h-col: #{$primary};
			--chevron-rotate: 180deg;
		}

		padding-bottom: rem(11);
	}
	&__head{
		padding: rem(20) 0 rem(16);
		cursor: pointer;
	}
	&__h-row{
		--bs-gutter-x: #{rem(19)};
	}
	&__h-icon{
		width: rem(33);
		display: flex;
		align-items: center;
		justify-content: center;

		& > *{
			width: auto;
			max-width: 100%;
		}
		svg{
			@include mt();
			path,rect,circle{
				fill: var(--h-col, #{$gray-530})!important;
			}
		}
	}
	&__title{
		@include mt();
		color: var(--h-col, #{$gray-530});

		font-size: rem(20);
		@include media-breakpoint-up(sm){
			font-size: rem(26);
		}
		line-height: calc(34/26);
	}
	&__chevron{
		@include mt();
		transform: rotateX(var(--chevron-rotate, #{0deg}));

		.icon{
			@include mt();
			font-size: rem(8);
			color: var(--h-col, #{$gray-530});
		}
	}
	&__content{
		display: none;
		&.active{
			display: block;
		}
		padding-bottom: rem(23);
		line-height: calc(22/16);

		p{
			margin-bottom: 16px;
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	}

	&__form-cont{
		margin: 0 -15px;
	}
	//
	&__{}
	&__{}

	//
	.slider-col{
		@include media-breakpoint-up(xxl){
			position: relative;
			margin-top: (-74px);
		}
	}
}

.slider-col{
	@include media-breakpoint-up(md){
		width: calc(#{rem(280)} + var(--bs-gutter-x)) !important;
	}
	@include media-breakpoint-up(lg){
		width: calc(#{rem(317)} + var(--bs-gutter-x)) !important;
	}

	.swiper-container{}
	.swiper-wrapper{
		margin-bottom: rem(18);
	}
	.swiper-slide{
		height: auto;
		width: 100%;
	}
	//
	.swiper-pagination{
		position: static;
	}


	//
	&__item{
		position: relative;
		z-index: 1;
		padding: rem(45) rem(30);

		min-height: rem(632);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__bg{
		@extend .bordered-bg-img;
	}
	&__s-content{
		//position: relative;
		//z-index: 2;
		color: $white;
	}
	&__s-title{
		font-size: rem(26);
		line-height: calc(34/26);
		color: $white;

		margin-bottom: rem(12);
	}
	&__s-descr{
		line-height: calc(22/16);
		color: $white;

		margin-bottom: rem(34);
	}
	&__s-btn{
		@extend .btn;
		@extend .btn-primary;
		width: 100%;
		text-transform: uppercase;
	}
}