mixin topLine()
	// start topLine
	+b.topLine.d-none.d-xl-block#topLine&attributes(attributes)
		.container
			+e.row.row.align-items-center
				+e.location-col.col.col-xl-auto
					+location()
				.col.d-none.d-xl-block
					+mnu()
				.col-auto
					+e.address ул.Складочная д.1, стр.9
				.col-auto.d-none.d-xxl-block
					+e.tell(href='tel:88007758272') 8 (800) 775-82-72 (По России)
	// end topLine

mixin location()
	+b.location
		+icon('location')
		span null