mixin sStepsToOrder(data)
	// start sStepsToOrder
	+b.sStepsToOrder.section#sStepsToOrder&attributes(attributes).bg-wrap
		+pic('dark-bg.jpg', 'bg', 0).picture-bg
		.container
			
	// end sStepsToOrder