mixin sTermsOfSale(data)
	// start sTermsOfSale
	+b.SECTION.sTermsOfSale.section#sTermsOfSale&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sTermsOfSale
				
			.row
	// end sTermsOfSale