// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #262626;
  font-size: 19px;
}

.header .columns {
  padding-bottom: 0;
}

.header  {
  color: #fff;
  // padding-top: 15px;
}

.header .wrapper-inner {
  padding: 30px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.text-right{
  text-align: right;
}

.text-white{
  color: #fff;
}

.tel-link{
  font-size: 19px;
}
.categories{
  display: flex;
  margin-top: 30px;
  padding-bottom: 5px;
    &__link{
      display: flex;
      align-items: center;
      color: #858585;
      font-size: 12px;
      align-items: center;
      padding: 5px 10px;
      background: #191919;
      height: 52px;
      flex-grow: 1;
      flex-shrink: 0;
      &:not(:last-child){
        border-right: 1px solid #858585;

      }
      img{
        margin-right: 9px;
        flex: 0 0 auto;
      }
    }
}

.mail-body{
  background-image: url(https://megafronteam.github.io/0068Kitchen/public/img/@2x/sAbout-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  min-height: 200px;

  &__head{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    .container{
      background-color: transparent;
    }
    h1{
      color: #fff;
      font-weight: bold;
    }
  }
  &__body{
    .container{
      padding: 25px 35px;
      background-color: #fff;
    }
  }

}


div.container{
  margin-left: auto;
  margin-right: auto;
  max-width: $global-width;
  box-sizing: border-box;
  p{
    margin-bottom: 1rem;
  }
}

.table-block{
  border: 1px solid #E2E2E2;
  margin-bottom: 50px;
  &__head{
    background-color: #F6F6F6;
    padding: 15px 30px;
    box-sizing: border-box;
  }
  &__body--info{
    padding: 30px 50px;
  }
}

.block-info{
  &__head{
    max-width: 404px;
    display: flex;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 25px;
  }
}
.block-info__head-item{
  flex-grow: 1;
  text-align: left;
}
.block-info__head-title{
  color: #9C9C9C;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}