mixin sConnectionHead(data)
	// start sConnectionHead
	+b.SECTION.sConnectionHead.section#sConnectionHead&attributes(attributes)
		+e.bg
			img(loading="lazy" src="img/@2x/сonnectionHead-bg.jpg" alt="")
		.container
			+e.row.row
				.col
					h1 Вся техника, представленная в&nbsp;нашем магазине, подключается на&nbsp;готовые коммуникации бесплатно*!
	// end sConnectionHead