mixin sLMap(data)
	// start sLMap
	+b.SECTION.sLMap#sLMap&attributes(attributes)
		+e.map
			.make-yandex-lazy-js(data-src="<script type=\"text/javascript\" charset=\"utf-8\" async src=\"https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8cc17cef3f87def461d210d7ff725eae385b0c4c787a280106d700359bc23bfe&amp;width=1277&amp;height=641&amp;lang=ru_RU&amp;scroll=false\"></script>")

	// end sLMap