// start .header
.header {
	position: fixed;
	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;

	//
	&.fixed{
		.topLine{
			display: none!important;
		}
		.brands{
			display: none!important;
		}
	}
} // end.header

.catalog-dd{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;

	height: auto;
	max-height: calc(var(--vh, 1vh) - var(--header-real-height));
	z-index: 1000;
	background-color: $gray-900;

}