mixin sContactInfo(data)
	// start sContactInfo
	+b.sContactInfo.section#sContactInfo&attributes(attributes)
		.container
			.row
				+e.bg.bg-wrap.col-lg-6
					+pic('sContactInfo-bg.jpg').picture-bg
				+e.col.col-lg-6
					+e.wrap
						span 1
						span 2
						span 3
	// end sContactInfo