mixin sParkingMap(data)
	// start sParkingMap
	+b.sParkingMap.section#sParkingMap&attributes(attributes)
		+e.map
			#map()
			//- <div id="map"style="width:100%; height:360px"></div>
			<script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp;lang=ru-RU&amp;apikey="></script>
			script.
				const map = document.querySelector('#map');

				ymaps.ready(init);

				function init () {
					//- var center = [55.75322550427434,37.65589449999999];
					var center = [55.7529781840114,37.65581269262505];
					var myMap = new ymaps.Map("map", {
									center: center,
									zoom: 17
							}),
							myPlacemark2 = new ymaps.Placemark(center, {
									// Свойства.
									// hintContent: 'Собственный значок метки'
							}, {
									// Опции.
									// Своё изображение иконки метки.
									//- iconImageHref: map.dataset.mark,
									//- iconImageHref: 'img/svg/map-marker.svg',
									// Размеры метки.
									//- iconImageSize: [76, 76],
									// Смещение левого верхнего угла иконки относительно
									// её "ножки" (точки привязки).
									//- iconImageOffset: [-74, -76]
									//- [-38, -76]
							});
					myMap.behaviors.disable('scrollZoom');
					var myCircle = new ymaps.Circle([
						// Координаты центра круга.
						[55.7529781840114,37.65581269262505],
						// Радиус круга в метрах.
						100
					], {
						// Задаем опции круга.
						// Включаем возможность перетаскивания круга.
						draggable: false,
						// Цвет заливки.
						// Последний байт (77) определяет прозрачность.
						// Прозрачность заливки также можно задать используя опцию "fillOpacity".
						fillColor: "#FF865130",
						//- fillOpacity: '0.3',
						strokeWidth: 0
					});
					var myCircle2 = new ymaps.Circle([
						// Координаты центра круга.
						[55.7529781840114,37.65581269262505],
						// Радиус круга в метрах.
						10
					], {
						// Задаем опции круга.
						// Включаем возможность перетаскивания круга.
						draggable: false,
						// Цвет заливки.
						// Последний байт (77) определяет прозрачность.
						// Прозрачность заливки также можно задать используя опцию "fillOpacity".
						fillColor: "#FF8651",
						//- fillOpacity: '0.3',
						strokeWidth: 0
					});
					// Добавляем круг на карту.
					myMap.geoObjects.add(myCircle);
					myMap.geoObjects.add(myCircle2);
					//на мобильных устройствах... (проверяем по userAgent браузера)
					if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
					//... отключаем перетаскивание карты
						myMap.behaviors.disable('drag');
					}
					// Добавляем все метки на карту.
					//- myMap.geoObjects
					//- 	.add(myPlacemark2)
				}
	// end sParkingMap